{% extends 'base.html.twig' %}
{% block title %}Acceuil{% endblock %}    
{% block body %}

    {% set class_header = 'header_home text-rose-700 h-screen' %}
    {% set title_h1 = 'Ma page acceuil' %}
    {% include 'models/header.html.twig'%}

    <div class=" ">
         <section class='promotion  mt-20 mb-28 mx-auto w-11/12' id='promotion'>
        <div class="mb-6">
            <div class="text-center font-bold text-2xl my-4">Section Promotion titre</div>
            <div class="mx-auto w-3/4">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                Iusto et, adipisci laboriosam, nisi totam, doloremque quia dolores fuga maiores nobis quam molestiae expedita unde earum velit nam non perferendis? Sequi.
            </div>
        </div>  
        {#---------SLIDER------------------------------------#}
        {% include "partials/slider.html.twig" %}






        {# -----------CAROUSEL -------------------------------#}
        <div class="carousel my-2 mx-auto" data-carousel>
        {# https://kenwheeler.github.io/slick/ #}
            <button type="button" class="carousel-button prev" data-carousel-button="prev">
                <i class="fa-solid fa-angle-left"></i>
            </button>
            <button type="button" class="carousel-button next" data-carousel-button="next">
                <i class="fa-solid fa-angle-right"></i>
            </button>
            <div class="flex justify-between w-11/12 mx-auto " data-slides>
            {% for group_promo in group_promos %}
                {# ajoute un attribut si condition, sinon rien #} 
                <div class=" slide w-full"  {{ loop.index0 is same as(0) ? "data-active" : "" }}> 
                    {% for promo in group_promo %}
                        <div class=" content-promo w-1/4 mx-4 shadow-xl bg-gray-100 rounded-br-3xl rounded-tl-3xl" >
                            <div class='IMG flex justify-end'>
                                <img src="https://picsum.photos/400/300" alt="" class="order-2 relative rounded-tl-3xl">
                                <div class="promo  text-yellow-500 bg-gray-50 rounded-bl-2xl font-bold text-xl text-right absolute p-4 ">{{promo.promotion}}</div>
                            </div>
                            <div class='p-6'>
                                <div class="flex items-start justify-between mb-2">
                                    <div class="font-semibold text-xl">{{promo.title}}</div>
                                    <div class="font-semibold text-xl w-1/4">
                                        {{promo.tarif}}
                                        <i class="text-base fa-solid fa-euro-sign"></i>
                                    </div>
                                </div>
                                <div class="text-sm font-medium mb-2">{{promo.lieux}}</div>
                                <div class="text-justify text-base">{{promo.description}}</div>
                            </div>                           
                        </div>   
                {% endfor %}
                 </div>
            {% endfor %}  
             </div>             
        </div>
        {# --------------------------------------------------#}        
        </section>

        <section class=" my-20">
            {# Séparation #}
            <img src="https://picsum.photos/2000/500" alt="">
        </section>
        <section id="about" class="mx-auto w-11/12">
          
            <div class="flex ">
                <div class=" mb-6 w-2/3 mr-12">
                    <div class="mb-6">
                        <div class=" text-4xl font-bold mb-4 ">Qui sommes nous ?</div>
                        <div class="mb-4 text-base">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi sed earum aliquid ut, incidunt rerum exercitationem voluptas quasi ea fugiat debitis dolorem qui eaque, quia amet delectus. Dolor, a nemo.
                        </div>
                        <div class="mb-4 text-base">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi sed earum aliquid ut, incidunt rerum exercitationem voluptas quasi ea fugiat debitis dolorem qui eaque, quia amet delectus. Dolor, a nemo.
                        </div>
                        <div class="mb-4 text-base">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam consequatur similique eaque, delectus vitae numquam quis omnis voluptas dolore recusandae blanditiis ullam earum porro fugiat quasi molestiae repellendus obcaecati reprehenderit!
                        </div>
                    </div>
                    <div class="flex justify-evenly pt-6">
                        <a href="" class=" min-content border-4  border-green-700 p-5  mr-8" >Mieux nous connaitre</a>
                                                
                        <div class=""><img src="https://picsum.photos/600/320" alt=""></div>
                    </div>
                </div>
                
                <div class='mb-6'>
                    <div class="mb-12"><img src="https://picsum.photos/500/600" alt=""></div>
                    <div class="flex justify-center"><a href="" class="bg-green-600 p-5 text-white mb-4">Nous contactez</a></div>
                    
                </div>                
            </div>
            <div class="flex justify-around my-8">
                    <div class="mr-4"><img src="https://picsum.photos/700/300" alt=""></div>
                    <div><img src="https://picsum.photos/700/300" alt=""></div>
             </div>      
            
        </section>

        <section id="home_category">
        {# Cat_7 model #}
        <div>Nos catégories</div>
            <div>
                <div>
                    <div>Titre de la catégorie</div>
                    <hr>
                    <div>Sous titre de la catégorie</div>
                </div>
                <div>
                    <div>
                        {# Bon cadeau #}
                    </div>
                    <div>
                        {# remene sur une page ? #}
                    </div>
                </div>
                <div>
                    <div>Titre de la catégorie</div>
                    <hr>
                    <div>Sous titre de la catégorie</div>
                </div>
                <div>
                    <div>Titre de la catégorie</div>
                    <hr>
                    <div>Sous titre de la catégorie</div>
                </div>
            </div>
        </section>
        <section id="present">
            <div>
                <div>Offrez un cadeau</div>
                <a href="">Commander</a>
            </div>
            <div><img src="" alt=""></div>
        </section>
        <section>
            {# Séparation #}
        </section>
        <section>
            <div>Titre de présentation</div>
            <div>
                <div>
                    <div><img src="" alt=""></div>
                    <div>
                        <div>Titre</div>
                        <div>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas nesciunt enim reprehenderit ipsum sed.
                        </div>
                    </div>
                </div>
                <div>
                    <div><img src="" alt=""></div>
                    <div>
                        <div>Titre</div>
                        <div>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas nesciunt enim reprehenderit ipsum sed.
                        </div>
                    </div>
                </div>
                <div>
                    <div><img src="" alt=""></div>
                    <div>
                        <div>Titre</div>
                        <div>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas nesciunt enim reprehenderit ipsum sed.
                        </div>
                    </div>
                </div>
                <div>
                    <div><img src="" alt=""></div>
                    <div>
                        <div>Titre</div>
                        <div>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas nesciunt enim reprehenderit ipsum sed.
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div>Titre hébergement régions</div>
            <div>
                <div>
                    <img src="" alt="">
                    <div>titre</div>                    
                </div>
                <div>
                    <img src="" alt="">
                    <div>titre</div>                    
                </div>
                <div>
                    <img src="" alt="">
                    <div>titre</div>                    
                </div>
                <div>
                    <img src="" alt="">
                    <div>titre</div>                    
                </div>
                <div>
                    <img src="" alt="">
                    <div>titre</div>                    
                </div>
                <div>
                    <img src="" alt="">
                    <div>titre</div>                    
                </div>
            </div>
            <a href="">Toutes nos destinations</a>
        </section>
        <section>
            {# Séparation plantation arbres #}
            <div><img src="" alt=""></div>
        </section>    
    </div>
{% endblock %}
