{% extends 'base.html.twig' %}
{% block title %}Acceuil{% endblock %}    
{% block body %}

    {% set class_header = 'header_home text-rose-700 h-screen' %}
    {% set title_h1 = 'Ma page acceuil' %}
    {% include 'models/header.html.twig'%}

    <div class=" mx-auto w-11/12">
        <section class='promotion' id='promotion'>
        <div class="mb-6">
            <div class="text-center font-bold text-2xl my-4">Section Promotion titre</div>
            <div class="mx-auto w-3/4">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                Iusto et, adipisci laboriosam, nisi totam, doloremque quia dolores fuga maiores nobis quam molestiae expedita unde earum velit nam non perferendis? Sequi.
            </div>
        </div>    
        {# -----------CAROUSEL -------------------------------#}
        <div class="carousel my-2 mx-auto">
        {# https://kenwheeler.github.io/slick/ #}
            <button type="button" data-role="none" class="carousel-button prev" aria-label="" role="button">
                <i class="fa-solid fa-angle-left"></i>
            </button>
            <button type="button" data-role="none" class="carousel-button next" aria-label="Next" role="button" style="display: block;">
                <i class="fa-solid fa-angle-right"></i>
            </button>
            <div class="flex justify-between w-11/12 mx-auto " >
            {# {% for promotion in promotions %} #}
            {% for promotion in promotions %}
                <div class=" slide w-2/3 mx-4 shadow-lg bg-gray-100 rounded-br-3xl rounded-tl-3xl " data-active >
                    <div class='IMG flex justify-end'>
                        <img src="https://picsum.photos/400/300" alt="" class="order-2 relative rounded-tl-3xl">
                        <div class="promo  text-yellow-500 bg-gray-50 rounded-bl-2xl font-bold text-xl text-right absolute p-4 ">{{promotion.promotion}}
                            
                        </div>
                    </div>
                    <div class="">
                        <div class='p-6'>
                            <div class="flex items-start justify-between mb-2">
                                <div class="font-semibold text-xl">{{promotion.title}}</div>
                                <div class="font-semibold text-xl w-1/4">
                                    {{promotion.tarif}}
                                    <i class="text-base fa-solid fa-euro-sign"></i>
                                </div>
                            </div>
                            <div class="text-sm font-medium mb-2">{{promotion.lieux}}</div>
                            <div class="text-justify text-base">{{promotion.description}}</div>
                        </div>
                    </div>                            
                </div>
            {% endfor %}
            </div>                    
        </div>
        {# --------------------------------------------------#}        
        </section>
        
        <section>
            {# Séparation #}
        </section>
        <section id="about">
            <div>
                <div class="div">
                    <div>
                        <div>Qui sommes nous ?</div>
                        <div>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi sed earum aliquid ut, incidunt rerum exercitationem voluptas quasi ea fugiat debitis dolorem qui eaque, quia amet delectus. Dolor, a nemo.
                        </div>
                    </div>
                    <div>
                        <a href="">Mieux nous connaitre</a>
                        <div>
                        </div><img src="" alt=""></div>
                </div>
                <div>
                    <div><img src="" alt=""></div>
                    <a href="">Nous contactez</a>
                </div>
            </div>
            <div>
                <div><img src="" alt=""></div>
                <div><img src="" alt=""></div>
            </div>
        </section>
        <section id="home_category">
        {# Cat_7 model #}
        <div>Nos catégories</div>
            <div>
                <div>
                    <div>Titre de la catégorie</div>
                    <hr>
                    <div>Sous titre de la catégorie</div>
                </div>
                <div>
                    <div>
                        {# Bon cadeau #}
                    </div>
                    <div>
                        {# remene sur une page ? #}
                    </div>
                </div>
                <div>
                    <div>Titre de la catégorie</div>
                    <hr>
                    <div>Sous titre de la catégorie</div>
                </div>
                <div>
                    <div>Titre de la catégorie</div>
                    <hr>
                    <div>Sous titre de la catégorie</div>
                </div>
            </div>
        </section>
        <section id="present">
            <div>
                <div>Offrez un cadeau</div>
                <a href="">Commander</a>
            </div>
            <div><img src="" alt=""></div>
        </section>
        <section>
            {# Séparation #}
        </section>
        <section>
            <div>Titre de présentation</div>
            <div>
                <div>
                    <div><img src="" alt=""></div>
                    <div>
                        <div>Titre</div>
                        <div>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas nesciunt enim reprehenderit ipsum sed.
                        </div>
                    </div>
                </div>
                <div>
                    <div><img src="" alt=""></div>
                    <div>
                        <div>Titre</div>
                        <div>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas nesciunt enim reprehenderit ipsum sed.
                        </div>
                    </div>
                </div>
                <div>
                    <div><img src="" alt=""></div>
                    <div>
                        <div>Titre</div>
                        <div>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas nesciunt enim reprehenderit ipsum sed.
                        </div>
                    </div>
                </div>
                <div>
                    <div><img src="" alt=""></div>
                    <div>
                        <div>Titre</div>
                        <div>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas nesciunt enim reprehenderit ipsum sed.
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div>Titre hébergement régions</div>
            <div>
                <div>
                    <img src="" alt="">
                    <div>titre</div>                    
                </div>
                <div>
                    <img src="" alt="">
                    <div>titre</div>                    
                </div>
                <div>
                    <img src="" alt="">
                    <div>titre</div>                    
                </div>
                <div>
                    <img src="" alt="">
                    <div>titre</div>                    
                </div>
                <div>
                    <img src="" alt="">
                    <div>titre</div>                    
                </div>
                <div>
                    <img src="" alt="">
                    <div>titre</div>                    
                </div>
            </div>
            <a href="">Toutes nos destinations</a>
        </section>
        <section>
            {# Séparation plantation arbres #}
            <div><img src="" alt=""></div>
        </section>    
    </div>
{% endblock %}
