{% extends 'base.html.twig' %}
{% block title %}Acceuil{% endblock %}    
{% block body %}

    {% set class_header = 'header_home text-rose-700 h-screen' %}
    {% set title_h1 = 'Ma page acceuil' %}
    {% include 'models/header.html.twig'%}

    <div class=" ">
        <section class='promotion  mt-20 mb-28 mx-auto w-11/12' id='promotion'>
        <div class="mb-6">
            <div class="text-center font-bold text-2xl my-4">Section Promotion titre</div>
            <div class="mx-auto w-3/4">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                Iusto et, adipisci laboriosam, nisi totam, doloremque quia dolores fuga maiores nobis quam molestiae expedita unde earum velit nam non perferendis? Sequi.
            </div>
        </div>  
        {#---------SLIDER------------------------------------#}
        {% set img_card = 'https://picsum.photos/400/300' %}     
        {% include "partials/slider.html.twig" %}
        {# ---------------------------------------- #}
        </section>

            <section id="home_category" class=" mb-16 w-screen object-contain overflow-hidden relative  ">    
                <img src="{{ asset('build/images/fond-cat.jpg') }}" alt="" class="z-1 absolute">
            {# Cat_7 model #}
            <div class=" w-11/12 z-2 mx-auto relative top-12">
                <div class="my-8 ml-32 w-3/5">
                    <div class="text-4xl mb-6 text-center">Trouvez l'hébergment qui VOUS coresponde !</div>
                    <p class=" mb-2 text-center text-2xl">Peut importe votre destination, nous mettons toutes nos compétances au service de votre confort.</p>
                    <p class=" text-base text-center">Choisissez parmis notre selection selon vos envies:</p>
                </div>
            
            
                <div class="inline-grid grid-cols-7 gap-5 mx-auto mt-8">
                {% for category in categories %}
                    {% if category.active == true %}
                    
                    <div class=' border-green-600 border-2 flex items-center category_link'>
                    {# <div>{{category.id}}</div> #}
                    <a class="p-2 flex items-center  " href="/{{category.name}}">
                        
                        {% if category.icon %}
                            <i class=" mr-2 {{category.icon}}"></i>
                        {% endif %} 
                        <div class=" text-[#0f120a] font-semibold">{{category.name}}</div>  
                      
                    </a>
                    {% endif %}            
                </div>              
                {% endfor %}
            </div>           
            </div>
            
        </section>
        <section id="about" class="mx-auto w-11/12">
          
            <div class="flex ">
                <div class=" mb-6 w-2/3 mr-12">
                    <div class="mb-6">
                        <div class=" text-4xl font-bold mb-4 ">Qui sommes nous ?</div>
                        <div class="mb-4 text-base">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi sed earum aliquid ut, incidunt rerum exercitationem voluptas quasi ea fugiat debitis dolorem qui eaque, quia amet delectus. Dolor, a nemo.
                        </div>
                        <div class="mb-4 text-base">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi sed earum aliquid ut, incidunt rerum exercitationem voluptas quasi ea fugiat debitis dolorem qui eaque, quia amet delectus. Dolor, a nemo.
                        </div>
                        <div class="mb-4 text-base">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam consequatur similique eaque, delectus vitae numquam quis omnis voluptas dolore recusandae blanditiis ullam earum porro fugiat quasi molestiae repellendus obcaecati reprehenderit!
                        </div>
                    </div>
                    <div class="flex justify-evenly pt-6">
                        <a href="" class=" min-content border-4  border-green-700 p-5 text-xl font-bold mr-8 rounded-tr-lg rounded-bl-lg" >Mieux nous connaitre</a>
                                                
                        <div class=""><img src="https://picsum.photos/600/320" alt=""></div>
                    </div>
                </div>
                
                <div class='mb-6'>
                    <div class="mb-8"><img src="https://picsum.photos/400/500" alt=""></div>
                    <div class="flex justify-center"><a href="" class="bg-green-600 p-5 text-xl font-bold text-white mb-4 rounded-tl-lg rounded-br-lg">Besoin de plus d'informations ?</a></div>
                    
                </div>                
            </div>
            {# <div class="flex justify-around my-8">
                    <div class="mr-4"><img src="https://picsum.photos/700/300" alt=""></div>
                    <div><img src="https://picsum.photos/700/300" alt=""></div>
             </div>       #}
            
        </section>

        <section id="present" class="relative top-4 flex justify-evenly items-center py-16 mx-auto w-11/12">
            <div class=" w-2/5">
                <div class=" text-4xl mb-8">Offrez une carte cadeau Monsite</div>
                <a href="" class="text-xl p-4 bg-green-600 text-white font-bold border rounded-tl-lg rounded-br-lg">Je passe commande</a>
            </div>
            <div class="w-3/5"><img src="https://picsum.photos/900/400" alt=""></div>
        </section>
        <section>
            {# Séparation #}
        </section>
        <section class="relative">
            <div class="text-center text-3xl mt-10">Vivez une expérience inoubliable !</div>
            <div  class="grid grid-rows-2 grid-flow-col gap-6 mx-auto w-4/5 my-10">
                <div class="flex justify-center">
                    <div class="mr-6"><img src="https://picsum.photos/90/90" alt="" class="rounded-full"></div>
                    <div>
                        <div class="text-xl text-green-700 font-semibold">Dimmention insolite</div>
                        <div>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas nesciunt enim reprehenderit ipsum sed.
                        </div>
                    </div>
                </div>
                <div class="flex justify-center">
                    <div class="mr-6"><img src="https://picsum.photos/90/90" alt="" class="rounded-full"></div>
                    <div>
                        <div class="text-xl text-green-700 font-semibold">Environement privilégié</div>
                        <div>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas nesciunt enim reprehenderit ipsum sed.
                        </div>
                    </div>
                </div>
                <div class="flex justify-center">
                    <div class="mr-6"><img src="https://picsum.photos/90/90" alt="" class="rounded-full"></div>
    
                    <div>
                        <div class="text-xl text-green-700 font-semibold">Offre et tarif aléchants</div>
                        <div>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas nesciunt enim reprehenderit ipsum sed.
                        </div>
                    </div>
                </div>
                <div class="flex justify-center">
                    <div class="mr-6"><img src="https://picsum.photos/90/90" alt="" class="rounded-full"></div>
    
                    <div>
                        <div class="text-xl text-green-700 font-semibold">Qualité d'hebergement</div>
                        <div>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas nesciunt enim reprehenderit ipsum sed.
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="w-11/12 mx-auto my-12 relative z-0 " id="countries">
            <div class="flex align-center justify-center flex-col my-6 overflow-hidden relative countries_header">
                <img src="https://picsum.photos/1400/300" alt="" class="absolute -z-1">
                <div class="relative z-1 top-1 text-3xl font-bold text-center">Titre hébergement régions</div>
            </div>
            <div class="grid grid-row-3 grid-flow-col gap-3 mb-6">
            <a href="">
                <div class="relative overflow-hidden flex flex-col align-center justify-center h-52">
                    <img src="https://picsum.photos/300/300" alt="" class="absolute -z-1">
                    <div class="relative z-1 text-center text-2xl">Région</div> 
                                     
                </div>
             </a> 
            <a href="">
                <div class="relative overflow-hidden flex flex-col align-center justify-center h-52">
                    <img src="https://picsum.photos/300/300" alt="" class="absolute -z-1">
                    <div class="relative z-1 text-center text-2xl">Région</div> 
                                     
                </div>
             </a> 
               <a href="">
                <div class="relative overflow-hidden flex flex-col align-center justify-center h-52">
                    <img src="https://picsum.photos/300/300" alt="" class="absolute -z-1">
                    <div class="relative z-1 text-center text-2xl">Région</div> 
                                     
                </div>
             </a> 
               <a href="">
                <div class="relative overflow-hidden flex flex-col align-center justify-center h-52">
                    <img src="https://picsum.photos/300/300" alt="" class="absolute -z-1">
                    <div class="relative z-1 text-center text-2xl">Région</div> 
                                     
                </div>
             </a> 
               <a href="">
                <div class="relative overflow-hidden flex flex-col align-center justify-center h-52">
                    <img src="https://picsum.photos/300/300" alt="" class="absolute -z-1">
                    <div class="relative z-1 text-center text-2xl">Région</div> 
                                     
                </div>
             </a> 
               <a href="">
                <div class="relative overflow-hidden flex flex-col align-center justify-center h-52">
                    <img src="https://picsum.photos/300/300" alt="" class="absolute -z-1">
                    <div class="relative z-1 text-center text-2xl">Région</div> 
                                     
                </div>
             </a> 
            </div>
            <div class="flex justify-center">
                <a href="" class="text-center p-4 bg-green-600 text-white font-bold border rounded-tl-lg rounded-br-lg mx-auto">Toutes nos destinations</a>
            </div>
        </section>
            {# Séparation plantation arbres #}
        <section id="plantations">
        <div class="11/12 mx-auto p-10 flex justify-evenly items-center">
            <div class="mr-4">
                <img src="https://picsum.photos/200/200" alt="" class="rounded-full">
            </div>
            <div class="w-4/5">
                <div class="text-2xl font-semibold">1 Réservation = 1 Arbre planté</div>
                <div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad id optio porro obcaecati quod architecto fuga necessitatibus possimus, dolore quaerat nulla deserunt ut minima quos est? Eligendi dolorem asperiores molestiae.</div>
                <div class="my-8">
                    <a href="https://planete-urgence.org/" target="_blank" class=" border-4  border-green-700 p-5 text-xl font-bold rounded-tr-lg rounded-bl-lg" >En savoir plus</a>
                </div>
            </div>
        </div>
            
        </section>    
    </div>
{% endblock %}
