{% extends 'base.html.twig' %}
{% block title %}Qui sommes nous?{% endblock %}    
{% block body %}
    {% set class_header = 'header_list' %}
    {% set title_h1 = 'Tous les hébergements' %}
    {% include 'models/header.html.twig'%}
    <section class='promotion  mt-20 mb-28 mx-auto w-11/12' id='promotion'>
        <div class="mb-6">
            <div class="text-center font-bold text-2xl my-4">Section Promotion titre</div>
            <div class="mx-auto w-3/4">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                Iusto et, adipisci laboriosam, nisi totam, doloremque quia dolores fuga maiores nobis quam molestiae expedita unde earum velit nam non perferendis? Sequi.
            </div>
        </div>  
        {#---------SLIDER------------------------------------#}
        {% set img_card = 'https://picsum.photos/400/300' %}     
        {% include "partials/slider.html.twig" %}
        {# ---------------------------------------- #}
        </section>
        
        <section id="hebergement" class="mx-auto w-11/12">
        {# Chercher la requette sql qui affiche tout les hebergement #}
        
        <div class="text-center font-bold text-2xl mb-12">
            Trouvez l'hébergement qui vous correspond parmis notre sélection
        </div>
        <div class="grid grid-rows-4 grid-flow-col gap-4 justify-between w-11/12 mx-auto">
            {% for hebergement in hebergements %}
            <div class=" w-4/5 mx-4 my-12 shadow-xl bg-gray-100 rounded-bl-3xl rounded-tr-3xl relative order-2">  
                <div>
                    {# Image du logement avec montage carte de la région inclus dedans #}
                    <img src="{{hebergement.picture}}" alt="{{hebergement.title}}" class="rounded-tr-3xl">  
                    <div class=" p-6 h-52 ">
                        <div class="flex items-start justify-between mb-2 ">
                            <div class="font-semibold text-xl">{{hebergement.title}}</div>
                            <div class="font-semibold text-xl w-1/4">
                                {{hebergement.tarif}}
                                <i class="text-base fa-solid fa-euro-sign"></i>
                            </div>
                        </div>
                        <div class="text-sm font-medium mb-2">{{hebergement.lieux}}</div>
                        <div class="text-justify text-base">{{hebergement.description}}</div>                    
                    </div>
                </div>      
                
                <div class="flex justify-center  ">
                    <a class=" py-4 px-28 absolute order-1 bg-red-400 -bottom-8" href="/hebergement/{{hebergement.id}}">Choisir</a>
                </div>                
            </div>
            
           {% endfor %}
        </div>
           {# Faire une condition en fonction du nombre de page + nb d'articles par page limite 
                <ul>
                    <li>
                        <a href="">1</a>
                    </li>
                    <li>
                        <a href="">2</a>
                    </li>
                     <li>
                        <a href="">3</a>
                    </li>
                </ul>
           </div> 
        </div>
 #}
        </section>
        
{% endblock %}