{% extends 'base.html.twig' %}
{% block title %}Nos herbergements de la région :{{countryName}}{% endblock %}    
{% block body %}
{% set class_header = 'header_list' %}
{% set title_h1 = countryName %}
{% include 'models/header.html.twig'%}


  <section id="categorie" class="mx-auto w-11/12">
  
  <div class="grid grid-flow-col gap-4 justify-around w-11/12 mx-auto">
        {% for hebergement in hebergements%}
            {% if hebergement.active == true %}
                <div class=" w-96 mx-4 my-12 shadow-xl bg-gray-100 rounded-bl-3xl rounded-tr-3xl relative order-2">  
                    <div>
                        <div class='flex flex-col relative'>
                            <img class="rounded-tr-3xl relative" src="{{ uploaded_asset(hebergement.imagePath) }}" alt="{{hebergement.title}}" class="rounded-tr-3xl">
                        {% if hebergement.departmentRelation.imagePath == true %}
                            <img class="absolute order-1 w-28 right-0 bottom-0" src="{{ uploaded_asset(hebergement.departmentRelation.imagePath) }}" alt="{{hebergement.departmentRelation.name}}">                        
                        {% endif %}
                        </div>   
                        <div class=" p-6 h-52 ">
                            <div class="flex items-start justify-between mb-2 ">
                                <div class="font-semibold text-xl">{{hebergement.title}}</div>
                                
                                {% if hebergement.isPromotional == true %}
                                <div class="flex flex-col">
                                    <div class="font-semibold text-xl w-1/4 ">
                                    {{hebergement.promoTotal}}€
                                    </div>
                                    <div class=" line-through text-red-600 text-xl w-1/4">
                                    {{hebergement.tarif}}€
                                    </div>
                                </div>
                                {% else %}                
                                <div class="font-semibold text-xl w-1/4">
                                    {{hebergement.tarif}}€                                    
                                </div>
                                {% endif %}
                            </div>
                            <div class="text-sm font-medium mb-2">{{hebergement.lieux}}</div>
                            <div class="text-justify text-base">{{hebergement.description | raw}}</div>                    
                        </div>
                    </div>      
            
            <div class="flex justify-center  ">
                <a class=" py-4 px-28 absolute order-1 bg-red-400 -bottom-8" href="/hebergement/{{hebergement.id}}">Choisir</a>
            </div>                
        </div>
        {% endif %}
     
      
      {% endfor %}
  </div>
      {# Faire une condition en fonction du nombre de page + nb d'articles par page limite #}
  </section>

 
 

{% endblock %}