{% extends 'base.html.twig' %}
{% block title %}{{hebergement.title}}{% endblock %}    
{% block body %}

<header class= "" >
    {# Faire un header spéciale pour recuperer l'imge de la bdd #}
    {% set class_header = 'header_home text-rose-700 h-screen' %}
    {% include 'models/header.html.twig'%}
</header>
<div>
    <div>
    <a href="">Photos</a>
    <a href="">Hebergement</a>
    <a href="">Infos protiques</a>
    <a href="">Conditions de réservation</a>
    <a href="">Disponibilités</a>
    <a href="">Services</a>
    </div>
</div>
<section id="presentation">
    <div>
        <div>
            <div>
               <h2>{{hebergement.title}}</h2> 
               <p>{{hebergement.lieux}}</p> 
            </div>
            <div>{{hebergement.tarif}}</div>
        </div>
        <div>
            {# Faire une condition twig en fonction du comtenue de la bdd avec {% hebergement_particularite %} #}
            <div>
                <div><img src="https://picsum.photos/40/40" alt=""></div>
                <div>Cabane dans les arbres</div>
            </div>
            <div>
                <div><img src="https://picsum.photos/40/40" alt=""></div>
                <div>2 personnes</div>
            </div>
            <div>
                <div><img src="https://picsum.photos/40/40" alt=""></div>
                <div>A partiir de 3 ans</div>
            </div>
            <div>
                <div><img src="https://picsum.photos/40/40" alt=""></div>
                <div>Petit-déjeuner inclus</div>
            </div>
            <div>
                <div><img src="https://picsum.photos/40/40" alt=""></div>
                <div>Animaux acceptés</div>                
            </div>
            {# ect #}           
        </div>
        <div>
        <div>
                <div>
                    <div>Présentation</div>
                    <div>surface du logement: {{hebergement.surface}} m²</div>
                </div>
                <p>
                    {{hebergement.description}}
                </p>
        </div>
        <div>
            <div>Localisation</div>
            <div>{{hebergement.lieux}}</div>
            <hr>
            <div>
                {# Intégration map avec leaflette #}
            </div>
        </div>               
    </div>
    <div>
        <div>
            <div>
            réservation = <img src="https://picsum.photos/2000/500" alt=""> 1 arbre planté
            </div> 
        </div>
        <div>
            <i class="fa-regular fa-gift"></i>
            <a href="">Offrir une carte cadeau</a>
        </div>
    </div>
</section>
<section id="equipement">
    <div>Equipement</div>
    <div>
    {# Faire une condition en fonction de la bdd #}
        <div>
            <div><img src="https://picsum.photos/40/40" alt=""></div>
            {# <p>{% hebergement_equipement %}</p> #}
            <p>nom de l'équipement</p>
        </div>
        <div>
            <div><img src="https://picsum.photos/40/40" alt=""></div>
            {# <p>{% hebergement_equipement %}</p> #}
            <p>nom de l'équipement</p>
        </div>
        <div>
            <div><img src="https://picsum.photos/40/40" alt=""></div>
            {# <p>{% hebergement_equipement %}</p> #}
            <p>nom de l'équipement</p>
        </div>
        <div>
            <div><img src="https://picsum.photos/40/40" alt=""></div>
            {# <p>{% hebergement_equipement %}</p> #}
            <p>nom de l'équipement</p>
        </div>
        <div>
            <div><img src="https://picsum.photos/40/40" alt=""></div>
            {# <p>{% hebergement_equipement %}</p> #}
            <p>nom de l'équipement</p>
        </div>
        <div>
            <div><img src="https://picsum.photos/40/40" alt=""></div>
            {# <p>{% hebergement_equipement %}</p> #}
            <p>nom de l'équipement</p>
        </div>
        <div>
            <div><img src="https://picsum.photos/40/40" alt=""></div>
            {# <p>{% hebergement_equipement %}</p> #}
            <p>nom de l'équipement</p>
        </div>
        <div>
            <div><img src="https://picsum.photos/40/40" alt=""></div>
            {# <p>{% hebergement_equipement %}</p> #}
            <p>nom de l'équipement</p>
        </div>
        <div>
            <div><img src="https://picsum.photos/40/40" alt=""></div>
            {# <p>{% hebergement_equipement %}</p> #}
            <p>nom de l'équipement</p>
        </div>
        <div>
            <div><img src="https://picsum.photos/40/40" alt=""></div>
            {# <p>{% hebergement_equipement %}</p> #}
            <p>nom de l'équipement</p>
        </div>
        <div>
            <div><img src="https://picsum.photos/40/40" alt=""></div>
            {# <p>{% hebergement_equipement %}</p> #}
            <p>nom de l'équipement</p>
        </div>
        <div>
            <div><img src="https://picsum.photos/40/40" alt=""></div>
            {# <p>{% hebergement_equipement %}</p> #}
            <p>nom de l'équipement</p>
        </div>
    </div>
</section>
<section>
    <div>
        <div>Informations pratiques </div>
        <div>
            <div>
                <div><img src="https://picsum.photos/640/360" alt=""></div>
                <div>
                    <p>Horraire d'arrivée :</p>
                    <p>lroem ipsum</p>
                </div>
            </div>
            <div>
                <div><img src="https://picsum.photos/640/360" alt=""></div>
                <div>
                    <p>Petit déjeuner</p>
                    {# <p>{% info_petitdej %}</p> #}
                </div>
            </div>
            <div>
                <div><img src="https://picsum.photos/640/360" alt=""></div>
                <div>
                    <p>Restauration</p>
                    <p>Panier repas sur réservation</p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div>Option suplémentaires</div>
        {# Meme options sur tout les sites #}
        <div>
            <div><img src="https://picsum.photos/640/360" alt=""></div>
            <p>Nom option</p>
            <p>tarif</p>
        </div>
        <div>
            <div><img src="https://picsum.photos/640/360" alt=""></div>
            <p>Nom option</p>
            <p>tarif</p>
        </div>
        <div>
            <div><img src="https://picsum.photos/640/360" alt=""></div>
            <p>Nom option</p>
            <p>tarif</p>
        </div>
    </div>
</section>
<section>
    <div>Comment ça marche ?</div>
    <div><img src="https://picsum.photos/2000/500" alt=""></div>
    <div>
     {# Chercher cb d'option mettre en détail #}
    </div>
</section>
<section>
    <div>
        Disponibilités et réservations
        {# Chercher une requette sql pour les dates #}
        {# Rechercher solution pour afficher un calendrier dinamique :
            https://diawdi.net/creer-un-calendrier-dynamique-en-php/
            https://www.youtube.com/watch?v=t0s7ycR1Ib8 (grafikart)
            https://fullcalendar.io/
            https://scripts.toucharger.com/scripts/php/agenda-calendrier/
         #}
    </div>
    <a href="">Réserver en ligne</a>
</section>
<section>
<div id="arrow-left" class="arrow"></div>
    <div class="slide slide1">
        <img src="https://picsum.photos/640/360" alt="">
    </div>
    <div class="slide slide2">
        <img src="https://picsum.photos/640/360" alt="">
    </div>
    <div class="slide slide3">
        <img src="https://picsum.photos/640/360" alt="">
    </div>
<div id="arrow-right" class="arrow"></div>

</section>
{# <section>
<div>Dans la meme région :</div>
<div>
{# Faire un appel sql 
    <div>
        <div>
            <div><img src="" alt=""></div>
        <div>
            <div>
                <div>Titre d'hébergement</div>
                <div>Tarif</div>
            </div>
            <div>
                desc
            </div>
        </div>
        </div>        
    </div>
    <a href="">Choisir</a>
    <div>
        <div>
            <div><img src="" alt=""></div>
        <div>
            <div>
                <div>Titre d'hébergement</div>
                <div>Tarif</div>
            </div>
            <div>
                desc
            </div>
        </div>
        </div>        
    </div>
    <a href="">Choisir</a>
    <div>
        <div><img src="" alt=""></div>
        <div>
            <div>
                <div>
                <div>Titre d'hébergement</div>
                <div>Tarif</div>
            </div>
            <div>
                desc
            </div>
        </div>
    </div>
</div>
</section> #}

<a href="">Choisir</a>
{% endblock %}
