{% extends 'base.html.twig' %}
{% block title %}{{hebergement.title}}{% endblock %}    
{% block body %}

<header class= "" >
    {# Faire un header spéciale pour recuperer l'imge de la bdd #}
    {# {% set class_header = 'header_home text-rose-700 h-screen' %}
    {% include 'models/header.html.twig'%} #}
    {% include 'partials/navbar.html.twig'%}    

</header>
<div>
    <div>
    <a href="">Photos</a>
    <a href="">Hebergement</a>
    <a href="">Infos protiques</a>
    <a href="">Conditions de réservation</a>
    <a href="">Disponibilités</a>
    <a href="">Services</a>
    </div>
</div>
<section id="presentation">
    <div>
        <div>
            <div>
               <h1>{{hebergement.title}}</h1> 
               <p>{{hebergement.lieux}}</p> 
            </div>
            {% if hebergement.isPromotional == true %}
            <div class="flex flex-col">
                <div class=" font-semibold ">
                {{hebergement.promoTotal}}€
                </div>
                <div class=" line-through text-red-600 ">
                {{hebergement.tarif}}€
                </div>
            </div>
            {% else %}                
            <div>{{hebergement.tarif}}</div>
            {% endif %}
        </div>
        <div>
            {% for  particularite in  hebergement.relationParticularite %}
                <div>
                <div><i class='{{particularite.icon}}'></i></div>
                <div>{{particularite.name}}</div>
            </div>
            {% endfor %}
            
            
        
                 
        </div>
        <div>
        <div>
                <div>
                    <div>Présentation</div>
                    <div>surface du logement: {{hebergement.surface}} m²</div>
                </div>
                <p>
                    {{hebergement.description | raw}}
                </p>
        </div>
        <div>
            <div>Localisation</div>
            <div>{{hebergement.lieux}}</div>
            <hr>
            <div>
                {# Intégration map avec leaflette #}
            </div>
        </div>               
    </div>
    <div>
        <div>
            <div>
            réservation = <img src="https://picsum.photos/2000/500" alt=""> 1 arbre planté
            </div> 
        </div>
        <div>
            <i class="fa-regular fa-gift"></i>
            <a href="">Offrir une carte cadeau</a>
        </div>
    </div>
</section>

<section id="equipement">
    <div>Equipement</div>
    <div>
    {% for equipment in hebergement.hebergementEquipment %}
        <div>
            <div><img src="{{ uploaded_asset(equipment.imagePath) }}" alt="{{equipment.name}}"></div>
            <p>{{equipment.name}}</p>
        </div>  
    {% endfor %}
    </div>
</section>

<section>
    <div>
        <div>Informations pratiques </div>
        <div>
            <div>
                <div><i class="fa-regular fa-clock"></i></div>
                <div>
                    <p>Horraire d'arrivée :</p>
                    <p>lroem ipsum</p>
                </div>
            </div>
            <div>
                <div><i class="fa-solid fa-mug-hot"></i></div>
                <div>
                    <p>Petit déjeuner</p>
                    {# <p>{% info_petitdej %}</p> #}
                </div>
            </div>
            <div>
                <div><i class="fa-solid fa-utensils"></i></div>
                <div>
                    <p>Restauration</p>
                    <p>Panier repas sur réservation</p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div>Option suplémentaires</div>
        {# Meme options sur tout les sites #}
        <div>
            <div><img src="https://picsum.photos/640/360" alt=""></div>
            <p>Nom option</p>
            <p>tarif</p>
        </div>
        <div>
            <div><img src="https://picsum.photos/640/360" alt=""></div>
            <p>Nom option</p>
            <p>tarif</p>
        </div>
        <div>
            <div><img src="https://picsum.photos/640/360" alt=""></div>
            <p>Nom option</p>
            <p>tarif</p>
        </div>
    </div>
</section>
<section>
    <div>Comment ça marche ?</div>
    <div><img src="https://picsum.photos/2000/500" alt=""></div>
    <div>
     {# Chercher cb d'option mettre en détail #}
    </div>
</section>
<section>
    <div>
        Disponibilités et réservations
        {# Chercher une requette sql pour les dates #}
        {# Rechercher solution pour afficher un calendrier dinamique :
            https://diawdi.net/creer-un-calendrier-dynamique-en-php/
            https://www.youtube.com/watch?v=t0s7ycR1Ib8 (grafikart)
            https://fullcalendar.io/
            https://scripts.toucharger.com/scripts/php/agenda-calendrier/
         #}
    </div>
    <a href="">Réserver en ligne</a>
</section>
<section>
<div id="arrow-left" class="arrow"></div>
    {% for media in hebergement.mediaRelation %}
     {% if media.active == true %}
        <div class="slide slide{{media.id}}">
            <img src="{{uploaded_asset(media.mediaPath)}}" alt="{{media.MediaAlt}}">
        </div>
     {% endif %}    
    {% endfor %}
   
    
<div id="arrow-right" class="arrow"></div>

</section>
{# <section>
<div>Dans la meme région :</div>
<div>
{# Faire un appel sql 
    <div>
        <div>
            <div><img src="" alt=""></div>
        <div>
            <div>
                <div>Titre d'hébergement</div>
                <div>Tarif</div>
            </div>
            <div>
                desc
            </div>
        </div>
        </div>        
    </div>
    <a href="">Choisir</a>
    <div>
        <div>
            <div><img src="" alt=""></div>
        <div>
            <div>
                <div>Titre d'hébergement</div>
                <div>Tarif</div>
            </div>
            <div>
                desc
            </div>
        </div>
        </div>        
    </div>
    <a href="">Choisir</a>
    <div>
        <div><img src="" alt=""></div>
        <div>
            <div>
                <div>
                <div>Titre d'hébergement</div>
                <div>Tarif</div>
            </div>
            <div>
                desc
            </div>
        </div>
    </div>
</div>
</section> #}

<a href="{{path("cart_add", {id: hebergement.id})}}"" class="button">Je réserve</a>
{% endblock %}
